*{
  font-family: 'Roboto', sans-serif;
}
header{
  background: #4267B2;
}
button, input{box-shadow: none!important;outline: none!important;}
a.link{
  text-decoration: none;
}
.search .form-control{
  border: 1px solid #3b5998;
  border-right: none;
}
.search input:focus{
  border: 1px solid #3b5998;
  border-right: none;
}
.search button{
  border: 1px solid #3b5998;
  border-left: none;
  background-color: #f6f7f9;
  cursor: pointer;
  transition: background-color .3s;
}
.search button:hover{
  background-color: #e9ebee;
}
.profile{
  padding-bottom: 2px;
  padding-top: 2px;
}
.profile:hover{
  background-color: #3B5CA0;
  border-radius: 1px;
}
.profile img{
  width: 24px;
  height: 24px;
}
.profile .name{
  font-size: .8rem;
  color: #f2f2f2;
  font-weight: 700;
}
.account-changer{
  position: relative;
  cursor: pointer;
}
.account-changer::before, .account-changer::after{
  position: absolute;
  content: "";
  width: 1px;
  height: 17px;
  background-color: rgba(0, 0, 0, .2);
  top: 50%;
  transform: translateY(-50%);
}
.account-changer::before{
  left: 0;
}
.account-changer::after{
  right: 0
}
.account-changer img{
  opacity: .7;
}
.account-changer:hover img{
  opacity: 1;
}